.app-container {
    position: relative;
    min-height: 100vh;
    font-weight: 400;
    /*font-family: 'Gentium Plus', serif; */
    font-family: system-ui, sans-serif;
}

:root {
    /* buttons */
    --green-button: #768372;
    --green-button-hover: #657062;

    --orange-button: #c69670;
    --orange-button-hover: #B87C4C;

    --delete-red: #ff4d4d;
    --delete-red-hover: #e60000;

    /* Word styles */
    --hover-khaki: #e7dbce;
    --selected-khaki: #d0c5b9;
    --outline-khaki: #746e67;

    --highlight-1: rgb(168, 187, 163, 0.3);
    --highlight-2: rgb(168, 187, 163, 0.5);
    --highlight-3: rgb(168, 187, 163, 0.7);

    --yellow-syntax-highlight: #fff3cd;
    --yellow-syntax-underline: #ffc107;

    --dark-blue: #12355B;

    --gray-text: #6b7280;

    /* Neutral Colors */
    --bg-white: #ffffff;
    --text-main: #333333;
    --border-gray: #e0e0e0;

    --font-serif: 'Gentium Plus', serif;
}
